<section id="business" class="business bg-grey roomy-70" style="margin-top: 100px;">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 order-xl-1">
				<div class="card bg-secondary shadow">
					<div class="card-body pt-4 pt-md-4 mt-7">
						<form method="POST">
							<h6 class="heading-small text-muted mb-4">Divisi</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<input type="text" name="divisi" id="input-divisi" class="form-control form-control-alternative" placeholder="Divisi" value="">
										</div>
									</div>
								</div>
							</div>
							<hr class="my-4" />
							<!-- Informasi -->
							<h6 class="heading-small text-muted mb-4">Informasi anggota</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-nama">Nama</label>
											<input type="text" name="nama" id="input-nama" class="form-control form-control-alternative" placeholder="Nama lengkap" value="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-jkelamin">Jenis Kelamin</label>
											<input type="text" name="jkelamin" id="input-jkelamin" class="form-control form-control-alternative" placeholder="Jenis Kelamin" value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-lahir-tempat">Tempat Lahir</label>
											<input type="text" name="lahir_tempat" id="input-lahir-tempat" class="form-control form-control-alternative" placeholder="Tempat lahir" value="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="form-control-label" for="input-lahir-tanggal">Tanggal Lahir</label>
											<input type="date" name="lahir_tanggal" id="input-lahir-tanggal" class="form-control form-control-alternative" placeholder="Tanggal lahir" value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-control-label" for="input-telepon">Telepon</label>
											<input type="text" name="telepon" id="input-telepon" class="form-control form-control-alternative" placeholder="Telepon" value="">
										</div>
									</div>
								</div>
							</div>
							<hr class="my-4" />
							<!-- Tentang -->
							<h6 class="heading-small text-muted mb-4">Tentang anggota</h6>
							<div class="pl-lg-4">
								<div class="row">
									<div class="col-lg-4">
										<div class="form-group">
											<label class="form-control-label" for="input-fakultas">Fakultas</label>
											<input type="text" name="fakultas" id="input-fakultas" class="form-control form-control-alternative" placeholder="Fakultas" value="">
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="form-control-label" for="input-prodi">Program Studi</label>
											<input type="text" name="prodi" id="input-prodi" class="form-control form-control-alternative" placeholder="Program Studi" value="">
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label class="form-control-label" for="input-nim">Nomor Induk Mahasiswa</label>
											<input type="text" name="nim" id="input-nim" class="form-control form-control-alternative" placeholder="Nomor Induk Mahasiswa" value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="form-control-label" for="input-fakultas">Tentang</label>
											<textarea rows="4" name="tentang" class="form-control form-control-alternative" placeholder="Tentang saya."></textarea>
										</div>
									</div>
								</div>
							</div>
							<hr class="my-4" />
							<!-- Pengaturan -->
							<div class="text-center border-0 pt-1">
								<div class="d-flex justify-content-between">
									<button class="btn btn-danger float-left" data-original-title="Batal" style="width: 100%">
										<div>
											<i class="ni ni-fat-remove"></i>
											<span>Simpan</span>
										</div>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>