<div class="text-center border-0 pt-4">
					<div class="d-flex justify-content-between">
						<span></span>
						<a href="/pengurus/galeri/tambah" class="btn btn-success float-right">
							<i class="ni ni-fat-add"></i>
							Buat Album
						</a>
					</div>
				</div>
				<hr class="my-4" />
				<!-- Pengaturan -->
				<div class="row">
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="card card-stats card-background mb-4 mb-xl-4" style="
								background-image: url('/assets/pengurus/img/theme/team-1-800x800.jpg');">
							<div class="card-body card-transparent">
								<div class="row">
									<div class="col">
										<span class="h3 font-weight-bold mb-4 text-white">HUT Al-Mizan ke-48</span>
									</div>
									<div class="col-auto">
										<a href="#" class="avatar" data-toggle="tooltip" data-original-title="Azis Alvriyanto">
											<img alt="Image placeholder" src="/assets/pengurus/img/theme/team-1-800x800.jpg" class="rounded-circle">
										</a>
										<p class="mt-3 mb-0 text-muted text-sm">
											<span class="h6 font-weight-normal text-nowrap text-white">2018/09/09</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="card card-stats card-background mb-4 mb-xl-4">
							<div class="card-body card-transparent">
								<div class="row">
									<div class="col">
										<span class="h3 font-weight-bold mb-4 text-white">Ziarah Kubur di ...</span>
									</div>
									<div class="col-auto">
										<a href="#" class="avatar" data-toggle="tooltip" data-original-title="Alvi Maslakhati">
											<img alt="Image placeholder" src="/assets/pengurus/img/theme/team-2-800x800.jpg" class="rounded-circle">
										</a>
										<p class="mt-3 mb-0 text-muted text-sm">
											<span class="h6 font-weight-normal text-nowrap text-white">2018/10/10</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="card card-stats card-background mb-4 mb-xl-4">
							<div class="card-body card-transparent">
								<div class="row">
									<div class="col">
										<span class="h3 font-weight-bold mb-4 text-white">HUT RI ke-74</span>
									</div>
									<div class="col-auto">
										<a href="#" class="avatar" data-toggle="tooltip" data-original-title="Dea">
											<img alt="Image placeholder" src="/assets/pengurus/img/theme/team-3-800x800.jpg" class="rounded-circle">
										</a>
										<p class="mt-3 mb-0 text-muted text-sm">
											<span class="h6 font-weight-normal text-nowrap text-white">2018/11/11</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-sm-6">
						<div class="card card-stats card-background mb-4 mb-xl-4">
							<div class="card-body card-transparent">
								<div class="row">
									<div class="col">
										<span class="h3 font-weight-bold mb-4 text-white">Khaul Mbah Ma...</span>
									</div>
									<div class="col-auto">
										<a href="#" class="avatar" data-toggle="tooltip" data-original-title="Maharani">
											<img alt="Image placeholder" src="/assets/pengurus/img/theme/team-4-800x800.jpg" class="rounded-circle">
										</a>
										<p class="mt-3 mb-0 text-muted text-sm">
											<span class="h6 font-weight-normal text-nowrap text-white">2018/12/12</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>